.card-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: linear-gradient(180deg, #362d50 0%, #272232 100%);
  width: 360px;
  border: 1px solid var(--border);
  border-radius: 8px;
  box-shadow: var(--shadow);
  padding: 16px;
  box-sizing: border-box;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow), rgba(215, 211, 211, 0.1) 0 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
}

.card-logo {
  width: 90px;
  height: 90px;
  object-fit: contain;
  margin: 0 auto 16px;
  display: block;
}
