header {
    color: black;
    background: linear-gradient(180deg, #444346 0%, #7759bd 100%); 
    border-radius: 8px;
    border: 1px solid var(--border);
    gap: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

header h1 {
    font-size: 36px;
    letter-spacing: -1.08px;
    color: gray;
    /* margin: 0; */
}